stages:
  - build
  - test

build:
  stage: build
  script: make build-all
  artifacts:
    paths:
      - build/

test:
  stage: test
  before_script:
    - apt-get update && apt-get install -y bats fd-find
  script:
    - make tests
  needs: ["build"]
